body {
    background-color: #e5c2ef;
}

.welcome {
    height: 100px;
    width: 600px;
    background-color: #3c1447;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    font-family: Raleway,Helvetica,sans-serif;
    font-size: 25pt;
}