<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/madlib">
        Please enter the name of a person: <input type="text" name="person"><br>
        Please enter your favorite color: <input type="text" name="color"><br>
        Please enter a noun: <input type="text" name="noun"><br>
        Please select an adjective:
        <select name="adjective">
            <option value="squishy">squishy</option>
            <option value="slithering">slithering</option>
            <option value="irate">irate</option>
            <option value="fluffy">fluffy</option>
            <option value="shiny">shiny</option>
        </select>
        <input type="submit">

    </form>
</body>
</html>