<!doctype html>
<html>
<head>
    <title>Playing the game</title>
    <link rel="stylesheet" type="text/css" href="static/madlibs.css">
</head>
<body>
    <form action="/madlib">
        Please enter the name of a person: <input type="text" name="person"><br>
        Please enter your favorite color: <input type="text" name="color"><br>
        Please enter a noun: <input type="text" name="noun"><br>
        Please select an adjective:
        <select name="adjective">
            <!-- <option value="squishy">squishy</option>
            <option value="slithering">slithering</option>
            <option value="irate">irate</option>
            <option value="fluffy">fluffy</option>
            <option value="shiny">shiny</option> -->
            {% for adjective in adjectives %}
                <option value="{{adjective}}">{{adjective}}</option>
            {% endfor %}
        </select><br>
        Would you rather:
        <input type="radio" name="verb" value="jump">jump
        <input type="radio" name="verb" value="climb">climb
        <input type="radio" name="verb" value="swim">swim
        <input type="radio" name="verb" value="hop">hop<br>

        Which of these animals do you like:
        <input type="checkbox" name="animals" value="giraffes">giraffe
        <input type="checkbox" name="animals" value="walruses">walrus
        <input type="checkbox" name="animals" value="hummingbirds">hummingbird
        <input type="checkbox" name="animals" value="bats">bat
        <input type="checkbox" name="animals" value="koalas">koala<br>

        <input type="submit">

    </form>
</body>
</html>